.header {
  width: inherit;
  max-width: inherit;
  position: fixed;
  align-items: center;
  z-index: $z-fixed;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(($header-height) + 1.5rem);
  padding: 0 7%;
  color: var(--dark-color);
  font-weight: weight(medium);
}

.navbar.active {
  background: var(--light-color);
}
.logo {
  margin-left: 10px;
  font-size: xx-large;
  font-family: $font;

  & img {
    width: 120px;
  }
}

.navbar__links {
  display: flex;
  gap: 40px;
}

.navbar__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__right {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.navbar__toggle,
.navbar__social {
  display: none;
}

.navbar__link {
  color: var(--dark-color);
}

.navbar__link:hover {
  color: var(--secondary-color);
}

.navbar__link.active {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.navbar__link span {
  position: relative;
  transition: margin 0.4s;
}

.navbar__link span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--secondary-color);
  transition: width 0.2s ease-out;
}

.navbar__link:hover span::after {
  width: 100%;
}

/*   Fade Animation   */
.navbar__links:has(.navbar__link:hover) .navbar__link:not(:hover) {
  opacity: 0.6;
}

/* ================ Icons ================= */
i {
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: weight(regular);
}

i:hover {
  transform: translateY(-0.5px);
  color: var(--secondary-color);
}

i.active {
  color: var(--secondary-color);
}

.cart__icon {
  z-index: 100;
}

/* ================ SEARCH BAR ================= */

.search__container {
  height: 2rem;
  display: flex;
  justify-content: flex-end;
}
.search {
  position: relative;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  transition: width 0.4s cubic-bezier(0.9, 0, 0.3, 0.9);

  &__input {
    border: none;
    outline: none;
    width: 90%;
    height: 100%;
    border-radius: 4rem;
    padding-left: 14px;
    font-family: $font;
    font-size: $small-font-size;
    font-weight: weight(medium);
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s;

    &:-webkit-autofill {
      box-shadow: 0 0 0 100px var(--light-color) inset;
    }

    &::placeholder {
      color: hsl(0, 0%, 50%);
    }
  }

  &__button {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
  }

  &__icon,
  &__close {
    color: var(--dark-color);
    font-size: 1.4rem;
    position: absolute;
    transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
  }

  &__close {
    opacity: 0;
  }
}

/* ------------- Animated Search Bar --------------- */
.show-search {
  width: 100%;
}

.show-search.search__container {
  width: 100%;
}

.show-search.search {
  background: var(--light-color);
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.2);
  border-radius: 4rem;
  padding: 4px;
}

.show-search .search__icon,
.show-search .search__close {
  font-size: 1rem;
  color: var(--light-color);
}

.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__button {
  right: 5px;
  border-radius: 50%;
  background-color: var(--dark-color);
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
  transform: rotate(90deg);
}

.show-search .search__icon {
  opacity: 0;
}

.show-search .search__close {
  opacity: 1;
}

.show-search.navbar__middle {
  display: none;
}

.show-search.navbar__left {
  display: none;
}

/* ================ TOGGLE BUTTON(Show Menu) ================= */

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: var(--dark-color);
}

/* ================ TOGGLE BUTTON(Day/Night) ================= */
.containerDay {
  width: 27px;
  height: 20px;
  background-image: linear-gradient(
    to right,
    var(--dark-color),
    var(--dark-color)
  );
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
.containerNight {
  background-image: linear-gradient(
    to right,
    var(--dark-color),
    var(--dark-color)
  );
}
.animation {
  animation: modeReturn 0.6s forwards;
}
.dayMode {
  width: 15px;
  height: 15px;
  background-image: url(/assets/img/moon-white.png);
  background-repeat: no-repeat;
  background-size: 15px;
  position: absolute;
  top: 3px;
  left: 4px;
}
.nightMode {
  background-image: url(/assets/img/sun2.png);
  background-size: 15.5px;
  position: absolute;
  animation: mode 0.6s forwards;
}
@keyframes mode {
  0% {
    position: absolute;
    top: 3px;
    left: 4px;
  }
  100% {
    position: absolute;
    left: 10px;
    top: 2px;
  }
}
@keyframes modeReturn {
  0% {
    position: absolute;
    left: 21px;
  }
  100% {
    position: absolute;
    top: 3px;
    left: 4px;
  }
}

/*===================== MOBILE NAVIGATION =============================*/
@include mobileMax {
  .navbar {
    padding: 0 2%;
    width: 100%;
    height: $header-height;
  }

  .logo img {
    width: 105px;
    margin-top: 5px;
  }

  .navbar__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -100%;
    gap: 40px;
    background: var(--light-color);
    color: var(--dark-color);
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 4.5rem;
    transition: left 0.4s;
    justify-content: space-between;
  }

  .navbar__menu.show-menu {
    left: 0;
  }

  .navbar__links,
  .navbar__social {
    display: flex;
  }

  .navbar__links {
    flex-direction: column;
    row-gap: 3rem;
  }

  .navbar__social {
    column-gap: 1rem;

    &-link {
      color: var(--dark-color);
      font-size: 1.5rem;
      transition: transform 0.4s;

      &:hover {
        transform: translateY(-0.25rem);
        color: var(--secondary-color);
      }
    }
  }

  .show-menu .navbar__item {
    visibility: visible;
    transform: translateX(0);
  }

  /* ================ TOGGLE BUTTON(Show Menu) ================= */
  .navbar__toggle {
    display: block;
    cursor: pointer;
    z-index: 100;
  }

  .navbar__toggle.show-menu .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar__toggle.show-menu .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar__toggle.show-menu .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /*   Animated Menu Links  */
  .navbar__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform 0.2s ease-out, visibility 0.4s;
  }

  .navbar__item:nth-child(1) {
    transition-delay: 0.1s;
  }

  .navbar__item:nth-child(2) {
    transition-delay: 0.2s;
  }

  .navbar__item:nth-child(3) {
    transition-delay: 0.3s;
  }

  .navbar__item:nth-child(4) {
    transition-delay: 0.4s;
  }

  .navbar__item:nth-child(5) {
    transition-delay: 0.5s;
  }

  /*   Display Animated Menu Links  */
  .show-menu .navbar__item {
    visibility: visible;
    transform: translateX(0);
  }
}
