/*---------------- FONT FAMILYS ------------------*/
$font: 'Marcellus', serif;

/* ==================== LIGHT/DARK THEME ====================== */

:root {
  /*---------------- COLORS ------------------*/
  --light-color: rgb(244, 242, 235);
  --dark-color: rgb(17, 15, 4);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --base-color: hsl(0, 18%, 92%);
  --primary-color: hsl(0, 0%, 15%);
  --accent-color: hsl(51, 99%, 44%);
  --secondary-color: hsl(51, 98%, 47%);
  --button-color: hsl(0, 0%, 0%);
  --overlay-color: hsl(0, 0%, 0%);
}

.dark-theme {
  --dark-color: rgb(244, 242, 235);
  --light-color: rgb(17, 15, 4);
  --overlay-color: rgb(17, 15, 4);
}

/*---------------- HEADER HEIGHT ------------------*/
$header-height: 4rem;

/* --------- Z INDEX ------------- */
$z-tooltip: 10;
$z-fixed: 100;

/*----------------FONT SIZES------------------*/
/*1rem = 16px*/
$h1-font-size: 1.5rem;
$normal-font-size: 1rem;
$small-font-size: 0.832rem;

/*----------------FONT WEIGHTS------------------*/
$font-weights: (
  'regular': 300,
  'medium': 600,
  'bold': 800,
);

/*---------------- FONT WEIGHT OPTION -"font-weight: weight(weight name);"------------------*/
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

/*---------------- MOBILE ------------------*/
$mobile: 900px;
$mobile-small: 470px;

//
//
//

/*FUNCTIONS*/
/*---------------- FLEX CENTER DISPLAY - "@include flexCenter(direction, background); ------------------*/
@mixin flexCenter($direction, $background) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background: $background;
}

/*---------------- @MEDIA - "@include mobile{content}------------------*/
@mixin mobileMax {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin mobileMin {
  @media screen and (min-width: $mobile) {
    @content;
  }
}

@mixin mobileSmall {
  @media screen and (max-width: $mobile-small) {
    @content;
  }
}
