/*---------------- FONT FAMILYS ------------------*/
$font: 'Marcellus', serif;
$font-one: 'Poppins', sans-serif;
$font-two: 'Ubuntu', sans-serif;

/* ==================== LIGHT/DARK THEME ====================== */

:root {
  /*---------------- COLORS ------------------*/
  --light-color: hsl(0, 0%, 100%);
  --dark-color: hsl(0, 0%, 2%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --base-color: hsl(0, 18%, 92%);
  --primary-color: hsl(0, 0%, 15%);
  --secondary-color: hsl(51, 98%, 47%);
  --accent-color: hsl(51, 99%, 44%);
  --dark-secondary-color: rgb(22, 19, 5);
  --light-secondary-color: hsl(51, 47%, 91%);
  --overlay-color: hsl(0, 0%, 0%);
  --transparent-color: hsla(0, 0%, 0%, 0.067);
}

.dark-theme {
  --dark-color: rgb(255, 255, 255);
  --light-color: rgb(4, 4, 4);
  --black-color: hsl(0, 0%, 100%);
  --white-color: hsl(0, 0%, 0%);
  --transparent-color: hsla(0, 0%, 100%, 0.057);
  --dark-secondary-color: hsl(51, 47%, 91%);
  --light-secondary-color: rgb(22, 19, 5);
}

/*---------------- COLORS ------------------*/
$white-color: hsl(0, 0%, 100%);
$black-color: hsl(0, 0%, 0%);

/*---------------- HEADER HEIGHT ------------------*/
$header-height: 4rem;

/* --------- Z INDEX ------------- */
$z-tooltip: 10;
$z-fixed: 100;

/*----------------FONT SIZES------------------*/
/*1rem = 16px*/
$h1-font-size: 1.5rem;
$medium-font-size: 1.1rem;
$normal-font-size: 1rem;
$small-font-size: 0.852rem;

/*----------------FONT WEIGHTS------------------*/
$font-weights: (
  'small-regular': 300,
  'regular': 400,
  'medium-regular': 500,
  'medium': 600,
  'bold': 800,
);

/*---------------- FONT WEIGHT OPTION -"font-weight: weight(weight name);"------------------*/
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

/*---------------- MOBILE ------------------*/
$mobile: 900px;
$mobile-small: 500px;

//
//
//

/*FUNCTIONS*/
/*---------------- FLEX CENTER DISPLAY - "@include flexCenter(direction, background); ------------------*/
@mixin flexCenter($direction, $background) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background: $background;
}

/*---------------- @MEDIA - "@include mobile{content}------------------*/
@mixin mobileMax {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin mobileMin {
  @media screen and (min-width: $mobile) {
    @content;
  }
}

@mixin mobileSmall {
  @media screen and (max-width: $mobile-small) {
    @content;
  }
}
